*{
    margin: 0px;
    padding: 0px;
    /* background-color: aqua; */
}
.main-image{
    width: 100%;
    height: 90px;
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 0px 0px 0px 0px;
    /* opacity: 0.8; */
  }


   
  /* <!--------------- ///////////////////HEADER LOGO NAV BOOK TABLE START /////////////////// ------------------> */ 


.header-nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.logo{
    width: 48px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: -webkit-xxx-large;
    font-family: 'FontAwesome';
    margin: 10px;}

.nav-bar-box{
    width:70.3%;
    height: 122px;
    padding: 1px ;   
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-box>a{
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
    font-family: sans-serif;
    color: #000000;
    text-decoration: none;
    padding: 5px;
}
.nav-bar-box>a:hover{
     color: #000000;
    padding: .7rem;
    border-bottom:1px solid #c39a8b ;
    transition: .2S;
}

.mobile-nav{
    width:10.3%;
    height: 122px;
    display: none;
}
.mobil-menu-bar{
    margin-right: 28px;
    display: none;
 }
 #mobil-menu-bar{
    position: fixed;
    top: 0;
    right: 0px;
    height: 70vh;
    width: 300px;
    z-index: 999;
    backdrop-filter: blur(15px);
    box-shadow: 1px -2px 10px 2px #3d3d3d;
    display: none;
    flex-direction: column;
    align-items: center;
}
#mobil-menu-bar>a{
    margin: 10px;
    width: 92%;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: black;
}
.mobil-menu-bar>i{
    font-size: 30px;
    color: white;
}
.fa-solid{
   font-size:  25px;
}
.booking-hall>input{
    width: 150px;
    height: 50px;
    background-color: rgb(46, 118, 201);
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px 0px 25px 0px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.booking-hall>input:hover{
    background-color: #000000;
    color: white;
    border-radius: 25px;
}
 @media only screen and (max-width : 1060px) {
    .nav-bar-box>a{
        font-size: 15px;
    }

}
@media only screen and (max-width : 710px) {
    .nav-bar-box>a{
         display: none;
    }
    .mobile-nav{
        display: block;
        width: 10.3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .booking-hall>input{
        margin-right: 20px;
    }

    
    } 
/* <!---------------/////////////////// HEADER LOGO NAV BOOK TABLE END/////////////////// ------------------> */

/* <!---------------/////////////////// ABOUT CONTENT IMAGE SECTION DIV BOX START/////////////////// ------------------> */

#about-img-txt{
    padding: 74px;
}
.about-image-box>img{
    width: 100%;
}
.about-text-box>h3{
    font-size: 55px;
    padding: 15px;
}
.about-text-box>p{
    font-size: 18px;
    padding: 15px;
}

@media only screen and (max-width : 780px) { 
    #about-img-txt {
        padding: 0;
    }
    .about-image-box{
        width: auto;
        height: auto;
    }
    .about-text-box>h3{
        font-size: 30px;
    }
    .about-text-box>p{
        font-size: 15px;
        font-weight: 500;
    }
} 
/* <!---------------/////////////////// ABOUT CONTENT IMAGE SECTION DIV BOX END/////////////////// ------------------> */

/* <!---------------/////////////////// ABOUT EVENT CONTENT IMAGE SECTION DIV BOX START/////////////////// ------------------> */

#about-event-img-txt{
    padding: 127px;
}

.about-event-image-box{
    width: 100%;
}
.about-event-text-box>h3{
    font-size: 35px;
    padding: 15px;
}
.about-event-text-box>p{
    font-size: 15px;
    padding: 15px;
}
@media only screen and (max-width : 780px) { 
    #about-event-img-txt {
       margin-top: 150px;
        padding: 0;
    }
    .about-event-image-box>img{
        width: auto;
        height: auto;
    }
    .about-event-image-box>img{
    width:100% ;
    }
    .about-text-box>h3{
        font-size: 30px;
    }
    .about-text-box>p{
        font-size: 15px;
        font-weight: 500;
    }
} 
/* <!---------------/////////////////// ABOUT EVENT CONTENT IMAGE SECTION DIV BOX END/////////////////// ------------------> */


/* <!---------------/////////////////// ABOUT MICHAEL SMITH EVENT CONTENT IMAGE SECTION DIV BOX START/////////////////// ------------------> */

.designer-event-image-box{
    

}
.designer-event-image-box>img{
    width: 131px;
    height: 202px;
    padding: 5px;
}
.designer-event-image-box>img:hover{
    height: 400px;
    width: 300px;
}

@media only screen and (max-width : 780px) {
.designer-event-image-box{

    text-align: center;
}
    .designer-event-image-box>img{

        text-align: center;
    }
    .designer-event-image{
        width: 250PX;
    }
    .designer-event-image-box>img:hover{
        height: 400px;
        width: 250PX;
    }
}
/* <!---------------/////////////////// ABOUT MICHAEL SMITH EVENT CONTENT IMAGE SECTION DIV BOX END/////////////////// ------------------> */
