*{
    padding: 0px;
    margin: 0px;
 } 
 body{
   
   
}
  

  .main-image{
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-image: url(./image/b6b1d11b34033a9371b745d5d26fafda.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 0px 0px 0px 0px;
    /* opacity: 0.8; */
  }
  
  /* <!--------------- ///////////////////HEADER LOGO NAV BOOK TABLE START /////////////////// ------------------> */ 


.header-nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.logo{
    width: 84px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: -webkit-xxx-large;
    font-family: 'FontAwesome';}

.nav-bar-box{
    width:70.3%;
    height: 122px;
    padding: 1px ;   
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-box>a{
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
    font-family: sans-serif;
    color: #eee8e8;
    text-decoration: none;
    padding: 5px;
}
.nav-bar-box>a:hover{
     color: #000000;
    padding: .7rem;
    border-bottom:1px solid #c39a8b ;
    transition: .2S;
}

.mobile-nav{
    width:10.3%;
    height: 122px;
    display: none;
}
.mobil-menu-bar{
    margin-right: 28px;
    display: none;
 }
 #mobil-menu-bar{
    position: fixed;
    top: 0;
    right: 0px;
    height: 50vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(15px);
    box-shadow: 1px -2px 10px 2px #3d3d3d;
    display: none;
    flex-direction: column;
    align-items: center;
}
#mobil-menu-bar>a{
    margin: 10px;
    width: 92%;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: black;
}
.mobil-menu-bar>i{
    font-size: 30px;
    color: white;
}
.booking-hall>input{
    width: 150px;
    height: 50px;
    background-color: rgb(46, 118, 201);
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px 0px 25px 0px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.booking-hall>input:hover{
    background-color: #000000;
    color: white;
    border-radius: 25px;
}
 @media only screen and (max-width : 1060px) {
    .nav-bar-box>a{
        font-size: 15px;
    }

}
@media only screen and (max-width : 710px) {
    .nav-bar-box>a{
         display: none;
    }
    .mobile-nav{
        display: block;
        width: 10.3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .booking-hall>input{
        margin-right: 20px;
    }
   
    } *
    /* <!---------------/////////////////// HEADER LOGO NAV BOOK TABLE END/////////////////// ------------------> */


    /*<!---------------  ///////////////////ABOUT IMAGE SECTION DIV BOX START/////////////////// ------------------> */
  #first-div{
    height: auto;
    color: aliceblue;
 
}
.about-text-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-image{
    width: 400px;
    height: 600px;

}
.about-image>img{
    width: 100%;

}
.about-text{
    text-align: center;
    margin-top: 51px;
}
.about-text>h3{
    font-size: 40px;
    color: #000000;
}
.about-text>p{
    font-size: 20px;
    font-weight: 700;
    color: #000000;

}
.more-about{
    width: 230px;
    height: 51px;
    background: none;
    border: 3px solid black;
}
.more-about>i{
    padding: 15px;
}
.more-about:hover{
    background-color: #0fe;
    border: none;
    font-size: 16px;
    font-weight: 600;

}

@media only screen and (max-width : 780px) { 
    .about-image{
        width: auto;
        height: auto;
    }
    .about-text>h3{
        font-size: 30px;
    }
    .about-text>p{
        font-size: 15px;
        font-weight: 500;
    }
} 
/* <!--------------- /////////////////// ABOUT IMAGE SECTION DIV BOX END/////////////////// ------------------> */


/* <!--------------- ///////////////////EVENT SCHEDULE SECTION DIV BOX START///////////////////------------------>  */
#event-schedule{
    padding-top: 90px;
}
.five-event-schedule{
    width:100%; 
}
.schedule-event{
   position: relative;
   top: 20px;
}

.event-schedule-content>button{
    width: 127px;
    height: 39px;
    background: none;
    border: 2px solid black;
    color: rgb(0, 0, 0);
}
.event-schedule-content>button:hover{
    background-color: rgb(97, 97, 221);
    color: white;
    border: none;

}
@media only screen and (max-width : 1060px) {
    .schedule-event{ 
         display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;}

}
@media only screen and (max-width : 710px) { 
.schedule-event{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 30px;

}

} 


/* <!--------------- ///////////////////EVENT SCHEDULE SECTION DIV BOX ENT/////////////////// ------------------> */ 
               

/* <!--------------- ///////////////////EVENT SPEAKER SECTION DIV BOX START/////////////////// ------------------> */ 


.event-speaker-section{
position: relative;
top: 200px;

}

.speaker-image>img{
    border-radius: 61px 0px 124px 0px
}
@media only screen and (max-width : 1060px) {
    .event-skp{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width : 774px) { 

    .event-skp{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
/* <!--------------- ///////////////////EVENT SPEAKER SECTION DIV BOX ENT/////////////////// ------------------> */ 

/* <!--------------- ///////////////////EVENT VIDEO SECTION DIV BOX START/////////////////// ------------------> */ 

#video-section{
    padding-top: 300px;
}
.event-vio{
    width: 100%;
    height: 100px;
 
}

.event-vio>video{
    width: 100%;
    height: 602px;
    
}
/* <!--------------- ///////////////////EVENT VIDEO SECTION DIV BOX ENT/////////////////// ------------------> */ 

/* <!--------------- ///////////////////EVENT OUR PRICING  SECTION DIV BOX ENT/////////////////// ------------------> */ 

#our-price{
    padding-top: 710px;
}
.our-price-all{
    width: 100%;
}
.our-price-text>h1{
    color: #000000;
    font-weight: 500;

}
.our-price-text>p{
    color: #000;
    }
.register-box{
    padding: 15px;
}
.register{
border: 1px solid black; 
margin: 0px 0px 0px 0px;
padding: 25px;
text-align: center;

}

.register>h1{
    font-size: 45px;
}
.register-but{
    width: 185px;
    height: 53px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-size: 21px;
    font-weight: 600;
    border-radius: 15px;
    margin: 35px;
}
.register:hover{
    background-color: rgb(69, 69, 242);
    color: white;
}
.register-but:hover{
    background-color: white;
    color: black;
}

    @media only screen and (max-width : 774px) { 

        .register{
            text-align: center;
            padding: 25px;

          
        }
    }
   
    
/* <!--------------- ///////////////////EVENT OUR PRICING  SECTION DIV BOX ENT/////////////////// ------------------> */ 


/* <!--------------- ///////////////////EVENT LATEST NEWS  SECTION DIV BOX START/////////////////// ------------------> */ 
.latest-news-text>h1{
    color: black;
}
.latest-news-text>p{
    color: black;
}
.vid-txt{
    text-align: center;
}
.latest-news-div-vid{
    width: 350px;
    height: 300px;
}
.latest-news-div-vid>video{
    width: 350px;
}



@media only screen and (max-width : 1060px) {
    .vid-txt{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width : 774px) { 

    .vid-txt{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .latest-news-div-vid>h5{
        font-size: 15px;
    }
    .latest-news-div-vid>video{
        width: 300px;
    }
}

/* <!--------------- ///////////////////EVENT LATEST NEWS SECTION DIV BOX ENT/////////////////// ------------------> */ 
